.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh; /* Ajuste para centralizar verticalmente */
  background-color: #f4f4f4; /* Fundo cinza claro */
}

.login-box {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.login-box h2 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
}

.login-box p {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}
